<div>
  <div class="intro_service d-flex justify-space-between">
    <div class="service-block">
      <h3>Miễn phí giao hàng</h3>
      <p>Miễn phí vận chuyển tất cả đơn đặt hàng > 1 triệu đồng.</p>
    </div>
    <div class="service-block">
      <h3>Tư vấn</h3>
      <p>Tư vấn miễn phí 24/7</p>
      <p>Đội ngũ tư vấn, CSKH nhiệt tình có hiểu biết sâu về sản phẩm</p>
    </div>
  
    <div class="service-block">
      <h3>Cam kết chất lượng</h3>
      <p>Cam kết chất lượng sản phẩm tốt nhất</p>
    </div>
  </div>
  <div class="container my-3">
    <div class="container-products">
      <div class="d-flex justify-content-between p-3">
        <div class="products-title">
          <span>Chả</span>
        </div>
        <span class="products-see-more d-flex align-items-center" >
          <!-- <span class="me-2">Xem thêm</span> -->
           <a routerLink="category-detail" >Xem thêm</a>
          <i class="pi pi-arrow-right ms-2"></i>
        </span>

      </div>
      <div class="row">
        <div class="col-6 col-md-4 col-lg-3">
          <div class="mg-product-box" (click)="onClickProduct(1)">
            <div class="mg-product-img-box">
              <div class="mg-product-img">
                <a >
                  <img src="assets/images/products/grid-product-1.png" alt="">
                </a>
              </div>
            </div>
            <div class="mg-p-badges">
              <span class="badge bg-danger">20% Off</span>
            </div>
            <div class="mg-product-text-box">
              <div class="mg-product-title my-3">
                <span><a href="single-product.html">Organic Cabbage (1 Pc)</a></span>
              </div>
              <div class=" d-flex mb-3">
                <i class="pi pi-star-fill me-1" style="font-size: 1rem;color: #fecb00"></i>
                <i class="pi pi-star-fill me-1" style="font-size: 1rem;color: #fecb00"></i>
                <i class="pi pi-star-fill me-1" style="font-size: 1rem;color: #fecb00"></i>
                <i class="pi pi-star-fill me-1" style="font-size: 1rem;color: #fecb00"></i>
              </div>
              <div class="mg-price-and-icons">
                <div class="row align-items-center">
                  <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <div class="mg-grid-price">
                      <h4>$8.45</h4>
                      <span><s>$8.45</s></span>
                    </div>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-7">
                    <div class="mg-shopping-icon d-flex justify-content-end">
                      <i class="pi pi-shopping-cart" style="font-size: 1.4rem"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mg-shop-btn">
                <a class="btn mg-btn-3" href="cart.html">ADD TO CART
                  <img src="" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
          <div class="mg-product-box">
            <div class="mg-product-img-box">
              <div class="mg-product-img">
                <a href="single-product.html">
                  <img src="assets/images/products/grid-product-1.png" alt="">
                </a>
              </div>
            </div>
            <div class="mg-p-badges">
              <span class="badge bg-danger">20% Off</span>
            </div>
            <div class="mg-product-text-box">
              <div class="mg-product-title my-3">
                <span><a href="single-product.html">Organic Cabbage (1 Pc)</a></span>
              </div>
              <div class=" d-flex mb-3">
                <i class="pi pi-star-fill me-1" style="font-size: 1rem;color: #fecb00"></i>
                <i class="pi pi-star-fill me-1" style="font-size: 1rem;color: #fecb00"></i>
                <i class="pi pi-star-fill me-1" style="font-size: 1rem;color: #fecb00"></i>
                <i class="pi pi-star-fill me-1" style="font-size: 1rem;color: #fecb00"></i>
              </div>
              <div class="mg-price-and-icons">
                <div class="row align-items-center">
                  <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <div class="mg-grid-price">
                      <h4>$8.45</h4>
                      <span><s>$8.45</s></span>
                    </div>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-7">
                    <div class="mg-shopping-icon d-flex justify-content-end">
                      <i class="pi pi-shopping-cart" style="font-size: 1.4rem"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mg-shop-btn">
                <a class="btn mg-btn-3" href="cart.html">ADD TO CART
                  <img src=" " alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
          <div class="mg-product-box">
            <div class="mg-product-img-box">
              <div class="mg-product-img">
                <a href="single-product.html">
                  <img src="assets/images/products/grid-product-1.png" alt="">
                </a>
              </div>
            </div>
            <div class="mg-p-badges">
              <span class="badge bg-danger">20% Off</span>
            </div>
            <div class="mg-product-text-box">
              <div class="mg-product-title my-3">
                <span><a href="single-product.html">Organic Cabbage (1 Pc)</a></span>
              </div>
              <div class=" d-flex mb-3">
                <i class="pi pi-star-fill me-1" style="font-size: 1rem;color: #fecb00"></i>
                <i class="pi pi-star-fill me-1" style="font-size: 1rem;color: #fecb00"></i>
                <i class="pi pi-star-fill me-1" style="font-size: 1rem;color: #fecb00"></i>
                <i class="pi pi-star-fill me-1" style="font-size: 1rem;color: #fecb00"></i>
              </div>
              <div class="mg-price-and-icons">
                <div class="row align-items-center">
                  <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <div class="mg-grid-price">
                      <h4>$8.45</h4>
                      <span><s>$8.45</s></span>
                    </div>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-7">
                    <div class="mg-shopping-icon d-flex justify-content-end">
                      <i class="pi pi-shopping-cart" style="font-size: 1.4rem"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mg-shop-btn">
                <a class="btn mg-btn-3" href="cart.html">ADD TO CART
                  <img src=" " alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
          <div class="mg-product-box">
            <div class="mg-product-img-box">
              <div class="mg-product-img">
                <a href="single-product.html">
                  <img src="assets/images/products/grid-product-1.png" alt="">
                </a>
              </div>
            </div>
            <div class="mg-p-badges">
              <span class="badge bg-danger">20% Off</span>
            </div>
            <div class="mg-product-text-box">
              <div class="mg-product-title my-3">
                <span><a href="single-product.html">Organic Cabbage (1 Pc)</a></span>
              </div>
              <div class=" d-flex mb-3">
                <i class="pi pi-star-fill me-1" style="font-size: 1rem;color: #fecb00"></i>
                <i class="pi pi-star-fill me-1" style="font-size: 1rem;color: #fecb00"></i>
                <i class="pi pi-star-fill me-1" style="font-size: 1rem;color: #fecb00"></i>
                <i class="pi pi-star-fill me-1" style="font-size: 1rem;color: #fecb00"></i>
              </div>
              <div class="mg-price-and-icons">
                <div class="row align-items-center">
                  <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                    <div class="mg-grid-price">
                      <h4>$8.45</h4>
                      <span><s>$8.45</s></span>
                    </div>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-7">
                    <div class="mg-shopping-icon d-flex justify-content-end">
                      <i class="pi pi-shopping-cart" style="font-size: 1.4rem"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mg-shop-btn">
                <a class="btn mg-btn-3" href="cart.html">ADD TO CART
                  <img src=" " alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>