.container-products{
    padding: 10px;
    background-color: #f3f1ed;
    border-radius: 20px;
}
.mg-product-box {
    padding: 12px;
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
}

.mg-product-img-box {
    margin-bottom: 10px;
}

.mg-product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo hình ảnh không bị méo và luôn fill đầy box */
}

.mg-p-badges {
    position: absolute;
    top: 20px;
    left: 22px;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.mg-product-title {
    width: 244px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mg-grid-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mg-grid-price h4 {
    margin: 0;
    color: var(--color-primary);
    font-family: 'Marcellus-regular';
    font-weight: 600;
}

.mg-grid-price span {
    font-size: 16px;
    color: #C8CDC1;
    font-family: 'Marcellus-regular';
}

.mg-btn-3 {
    width: 100%;
    background-color: var(--color-primary);
    color: #F2F2EC;
    border-radius: 60px;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Mazzardh-medium';
    transition: all 0.2s ease-in;
}

.mg-product-title span a {
    font-size: 21px;
    color: #313131;
    font-family: 'Marcellus-regular';
    font-weight: 600;
    text-decoration: none;
}

.mg-shopping-icon i{
    padding: 16px;
    background-color: #eae0cc;
    border-radius: 50%;
}
.mg-shopping-icon i:hover{
    opacity: 0.6;
}

.products-see-more,
.products-see-more{
    background-color: var(--color-primary);
    color: #F2F2EC;
    border-radius: 60px;
    padding: 5px 15px;
    font-family: 'Mazzardh-medium';
    transition: all 0.2s ease-in;
}

.products-title span{
    font-family: 'Arial', sans-serif; /* Thay đổi font-family */
    font-weight: 700; /* Điều chỉnh font-weight */
    font-size: 30px;
}

.intro_service {
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.service-block {
  flex: 1 1 calc(20% - 20px);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.service-block h3 {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.service-block p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

// @media (min-width: 1400px) {
//   .container {
//     max-width: 1650px;
//   }
// }
