<body>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4 col-lg-3">
        <div class="mg-product-box">
          <div class="mg-product-img-box">
            <div class="mg-product-img">
              <a href="single-product.html">
                <img src="assets/images/products/grid-product-1.png" alt="">
              </a>
            </div>
          </div>
          <div class="mg-p-badges">
            <span class="badge bg-danger">20% Off</span>
          </div>
          <div class="mg-product-text-box">
            <div class="mg-product-title">
              <span><a href="single-product.html">Organic Cabbage (1 Pc)</a></span>
            </div>
            <div class=" d-flex mb-3">
              <i class="pi pi-star-fill" style="font-size: 1rem;color: rgb(158, 158, 50)"></i>
              <i class="pi pi-star-fill" style="font-size: 1rem;color: yellow"></i>
              <i class="pi pi-star-fill" style="font-size: 1rem;color: yellow"></i>
              <i class="pi pi-star-fill" style="font-size: 1rem;color: yellow"></i>
            </div>
            <div class="mg-price-and-icons">
              <div class="row align-items-center">
                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                  <div class="mg-grid-price">
                    <h5>$8.45</h5>
                    <span><s>$8.45</s></span>
                  </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-7">
                  <div class="mg-grid-icons">
                    <a href="wishlist.html">
                      <img src="assets/images/icons/Wishlist-product.svg" alt="">
                    </a>
                    <a class="mg-quick-view-modal-btn" href="javascript:void(0);">
                      <img src="assets/images/icons/Quick-View.svg" alt="">
                    </a>
                    <a href="javascript:void(0);">
                      <img src="assets/images/icons/Compare-product.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="mg-shop-btn">
              <a class="btn mg-btn-3" href="cart.html">ADD TO CART
                <img src="assets/images/icons/Button-arrow-light.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
