<div class="product_benefits">
    <p-panel header="Tư vấn đặt hàng">
        <div class="d-flex align-items-center mb-3">
            <i class="pi pi-users" style="font-size: 1.4rem"></i>
            <div class="advice_info">
                <div class="advice_info--number">1234567890</div>
            </div>
        </div>
        <div class="d-flex align-items-center mb-3">
            <i class="pi pi-check-circle me-2" style="color: green"></i>
            <span>Hàng chính hãng 100%</span>
        </div>
        <div class="d-flex align-items-center mb-3">
            <i class="pi pi-check-circle me-2" style="color: green"></i>
            <span>Uy tín chất lượng</span>
        </div>
        <div class="d-flex align-items-center mb-3">
            <i class="pi pi-check-circle me-2" style="color: green"></i>
            <span>Hỗ trợ liên tục trong quá trình sd</span>
        </div>
        <div class="d-flex align-items-center mb-3">
            <i class="pi pi-check-circle me-2" style="color: green"></i>
            <span>Giao hàng trên toàn quốc</span>
        </div>
        <div class="d-flex align-items-center mb-3">
            <i class="pi pi-check-circle me-2" style="color: green"></i>
            <span>Thanh toán tại nhà hoặc qua thẻ</span>
        </div>
        <div class="d-flex align-items-center mb-3">
            <i class="pi pi-check-circle me-2" style="color: green"></i>
            <span>Quà tặng và khuyến mãi</span>
        </div>
    </p-panel>
</div>