<div class="product_social my-5">
    <div class="d-flex justify-content-between align-items-center ">
        <div class="product_social--postTime">
            <span>Cập nhật lúc 8:51 - 20/04/2023</span>
        </div>
        <div class="product_social--share d-flex align-items-center me-5 ">
            <b>Chia sẻ </b>
            <div class="d-flex ms-3">
                <i class="pi pi-facebook" style="font-size: 2rem; color:rgb(59, 89, 152)"></i>
            </div>
        </div>
    </div>
</div>