body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.mg-main-banner-section {
    background-image: url(../../../../public/assets/images/home1-banner-img.png);
    /* height: 100vh; */
    background-size: cover;
}

*, ::after, ::before {
    box-sizing: border-box;
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.mg-banner-text-outer {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 100px;
    padding-bottom: 80px;
}
.mg-banner-text-inner {
    width: 40%;
    position: relative;
}

.mg-banner-text-inner h3 {
    font-size: 46px;
    font-family: Marcellus-regular;
    font-weight: 700;
    color: #313131;
}

@media screen and (max-width: 767px) {
    .mg-main-banner-section {
        height: 100vh;
    }
}

@media screen and (max-width: 767px) {
    .mg-banner-text-inner {
        width: 85%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 991px) {
    .mg-banner-text-inner {
        width: 50%;
    }
}

@media screen and (max-width: 1199px) {
    .mg-banner-text-inner {
        width: 40%;
    }
}

@media screen and (max-width: 767px) {
    .mg-banner-text-outer {
        display: grid;
    }
}

@media screen and (max-width: 767px) {
    .mg-banner-text-outer {
        height: 400px;
    }
}

@media screen and (max-width: 767px) {
    .mg-main-banner-section {
        background-image: url(../../../../public/assets/images/banner-img.png);
        /* height: 100vh; */
        background-size: cover;
    }
}