body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.mg-main-banner-section {
    background-image: url(../../../../../public/assets/images/home1-banner-img.png);
    background-size: cover;
}

.mg-banner-text-outer {
    padding-top: 100px;
    padding-bottom: 80px;
}

.mg-banner-text-inner {
    width: 40%;
    position: relative;
}

.mg-banner-text-inner h5 {
    font-size: 22px;
    font-family: 'Mazzardh-semibold';
    color: #313131;
}

.mg-banner-text-inner h3 {
    font-size: 46px;
    font-family: Marcellus-regular;
    font-weight: 700;
    color: #313131;
}

.mg-banner-text-inner h3:before {
    content: "";
    background-image: url(../../../../../public/assets/images/single-Leaf.png);
    position: absolute;
    width: 60px;
    height: 110px;
    background-repeat: no-repeat;
    display: inline-block;
    right: 75px;
    top: 34px;
    background-size: contain;
}

.mg-banner-text-inner h3 span img {
    width: 164px;
    margin-left: 10px;
    object-fit: cover;
    border-radius: 60px;
}

.mg-banner-text-inner p {
    color: #ddd8d2;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}
.mg-banner-text-inner p {
    font-size: 16px;
    color: #9e9e9d;
    width: 80%;
    font-family: 'Mazzardh-regular';
    font-weight: 600;
    margin-bottom: 28px;
}

.mg-btn-1 {
    padding: 10px 27px;
    background-color: #345333;
    color: #fff;
    font-family: 'Mazzard-medium';
    border-radius: 30px;
    font-size: 14px;
}

.mg-user-count,
.mg-product-count {
    width: 50%;
    border-right: 1px solid #ddd;
}

.mg-product-count {
    border-right: none;
}

.mg-user-count h3,
.mg-product-count h3 {
    font-size: 30px;
    line-height: 36px;
    margin: 0;
}

.mg-user-count h3 span,
.mg-product-count h3 span {
    font-size: 14px;
    line-height: 16px;
}

.mg-banner-text-inner h3 {
    font-size: 46px;
    font-family: Marcellus-regular;
    font-weight: 700;
    color: #313131;
}

.mg-banner-text-inner h3:before {
    content: "";
    // background-image: url(../../../../public/assets/images/single-Leaf.png);
    position: absolute;
    width: 60px;
    height: 110px;
    background-repeat: no-repeat;
    display: inline-block;
    right: 75px;
    top: 34px;
    background-size: contain;
}

.mg-product-count h3 span {
    font-size: 14px;
    color: #989898;
}

.mg-banner-img {
    width: 50%;
    margin: auto;
}
.mg-banner-img img {
    width: 100%;
}


@media (min-width: 1400px) {
  .container {
    max-width: 1650px;
  }
}
