<div class="mg-main-banner-section">
  <div class="container">
    <div class="mg-banner-text-outer d-flex align-items-center justify-content-start">
      <div class="mg-banner-text-inner">
        <h5>Discount up to 20%</h5>
        <h3>Buy Fresh And Organic Grocery Food<span><img src=""
              alt=""></span></h3>

        <p>Lorem ipsum dolor sit amet consectetur. Condimentum sed sed blandit purus nec nibh tortor ipsum.
          Placerat consequat lorem.</p>
        <div class="mg-banner-btn-and-count">
          <div class="d-flex align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="mg-banner-btn-conatiner">
                <a class="btn mg-btn-1" href="shop.html">SHOP NOW</a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="mg-banner-count d-flex align-items-center justify-content-between">
                <div class="mg-user-count">
                  <h3>35k +<br> <span>Users</span></h3>
                </div>
                <div class="mg-product-count d-flex align-items-center justify-content-end">
                  <h3>18k +<br> <span>Products</span></h3>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="mg-banner-img">
        <img src="../../../../assets/images/banner-img.png" alt="">
      </div>
    </div>
  </div>
</div>
