.option-tag ::ng-deep .p-tag:not(.p-tag-success) {
    background-color: #e5e7eb; 
    color: #475569;
    font-size: 13px;
}

.option-tag ::ng-deep .p-tag:hover {
    opacity: 0.7;
}

.product_advice {
    position: relative;
    text-align: center;
}

.product_advice span {
    position: relative;
    display: inline-block;
    padding: 0 15px;
}

.product_advice span:before {
    content: "";
    border-top: 1px solid #bfc7d1;
    width: 100px; /* Điều chỉnh độ dài */
    position: absolute;
    top: 50%;
    right: 100%; /* Đặt bên trái chữ */
    transform: translateY(-50%);
}

.product_advice span:after {
    content: "";
    border-top: 1px solid #bfc7d1;
    width: 100px; /* Điều chỉnh độ dài */
    position: absolute;
    top: 50%;
    left: 100%; /* Đặt bên phải chữ */
    transform: translateY(-50%);
}

// Button quantity
.quantity-control {
  display: flex;
  align-items: center;

  
  .quantity-btn {
    width: 32px;
    height: 32px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
    
    &:hover {
      background-color: #e9ecef;
      border-color: #adb5bd;
    }
    
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  
  .quantity-input {
    width: 50px;
    height: 32px;
    text-align: center;
    border: 1px solid #ced4da;
    border-left: none;
    border-right: none;
    border-radius: 0;
    
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.25);
    }
  }
}




