<header>
  <div class="mg-header-outer mg-home-header">
    <div class="container">
      <div class="mg-home-header">
        <div class="row gx-0 gx-md-2 align-items-center">
          <div class="col-md-3 col-lg-3 col-4">
            <div class="header-logo">
              <a class="mg-logo text-decoration-none" href="index.html"><span>MG</span> ORGANICS</a>
            </div>
          </div>
          <div class="col-md-2  col-lg-5 col-2 order-3 order-md-0 ">
            <div class="input-group custom-input">
              <input type="text" style="width: 80%;" class="form-control" placeholder="Nhập tên sản phẩm cần tìm..."
                aria-label="Nhập tên sản phẩm cần tìm..." aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Tìm kiếm</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-6 text-end">
            <div class="row align-items-center">
              <div class="col-6 col-lg-6 col-md-6 p-0">
                <div>
                  <div class="mg-menu-overlay"></div>
                  <nav class="mg-menu" id="menu">
                    <div class="menu-mobile-header">
                      <button type="button" class="menu-mobile-arrow"><i class="fa fa-chevron-left"
                          aria-hidden="true"></i></button>
                      <div class="menu-mobile-title"></div>
                      <button type="button" class="menu-mobile-close"><i class="fa fa-times"
                          aria-hidden="true"></i></button>
                    </div>
                    <ul class="menu-section mg-menu-outer">
                      
                      <li class="menu-item-has-children">
                        <a href="javascript:void(0);">Categories <img src=" "
                            alt=""></a>

                        <div class="mg-sub-menu-outer">
                          <div class="menu-subs">
                            <ul>
                              <li>
                                <a href="shop.html">Fruits & Vegetables</a>
                                <img src=" " alt="">
                              </li>
                              <li>
                                <a href="beverages.html">Beverages</a>
                                <img src="" alt="">
                              </li>
                              <li>
                                <a href="meat.html">Meat & Seafoods</a>
                                <img src="" alt="">
                              </li>
                              <li>
                                <a href="bakery.html">Bakery</a>
                                <img src="" alt="">
                              </li>
                              <li>
                                <a href="snacks.html">Biscuit & Snacks</a>
                                <img src="" alt="">
                              </li>
                            </ul>
                          </div>

                        </div>
                      </li>
                      <li class="menu-item-has-children">
                        <a class="active-menu-light" href="javascript:void(0);">Liên hệ <img
                            src=" " alt=""></a>
                        <!-- <div class="mg-sub-menu-outer">
                          <div class="menu-subs">
                            <ul>
                              <li>
                                <a href="index.html">Home 1</a>
                              </li>
                              <li>
                                <a href="home2.html">Home 2</a>
                              </li>
                              <li>
                                <a href="home3.html">Home 3</a>
                              </li>
                            </ul>
                          </div>
                        </div> -->
                      </li>
                      <li class="menu-item-has-children">
                        <a class="active-menu-light" [routerLink]="['/news']">Tin tức 
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <div>
                    <button type="button" class="menu-mobile-toggle mg-burger-menu-icon">
                      <span></span>
                      <span></span>
                      <span></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6 col-md-6">
                <div class="header-icons-outer d-flex">
                  <!-- <ul>

                    <li class="mg-mobie-hide-icon">
                      <a class="mg-notify-count" href="wishlist.html">
                        <img class="mg-desktop-icons" src="assets/images/icons/heart-new.png" alt=""><span
                          class="mg-header-icon-counter">2</span>
                        <img class="mg-hover-icon" src="assets/images/icons/hover-heart-new.png" alt="">
                      </a>
                    </li>
                    <li>
                      <a class="mg-notify-count" href="cart.html">
                        <img class="mg-desktop-icons" src="assets/images/icons/Cart-Icon.svg" alt=""><span
                          class="mg-header-icon-counter">0</span>
                        <img class="mg-hover-icon" src="assets/images/icons/hover-Cart-Icon.png" alt="">
                      </a>
                    </li>
                  </ul> -->
                  
                  <div class="ms-5 me-3">
                    <p-overlaybadge value="2" badgeSize="small" severity="warn">
                      <i class="pi pi-bell" style="font-size: 1.6rem;color: black"></i>
                    </p-overlaybadge>
                  </div>
                  <div class="ms-3" (click)="onClickCart()">
                    <p-overlaybadge value="2" badgeSize="small" severity="warn">
                      <i class="pi pi-shopping-cart" style="font-size: 1.6rem;color: black"></i>
                    </p-overlaybadge>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>